bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
src/Chroniq/appsettings.json
src/Chroniq/appsettings.json
src/Chroniq/wwwroot
src/Chroniq.sln.DotSettings.user
src/Chroniq/work-calendar.json
src/Chroniq.Bot/appsettings.json
src/Chroniq/appsettings.Development.json
src/Chroniq/uploads
